body {
    font-family: "Montserrat";
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100vh;
}

.modo h2 {
    color: white;
    text-align: center;
    font-size: 1.56rem;
    letter-spacing: 0.1rem;
}

.container {
    max-width: 328px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    body {
        background-size: cover;
    }
}