.modo--normal h2 {
    padding: 48px 0 16px;
}

.normal__input {
    text-align: center;
    color: white;
    padding-bottom: 48px;
    font-size: 1.12rem;
}

.normal__imagem--umDado {
    text-align: center;
    
}

.normal__umDado {
    width: 150px;
    transform: rotate(3deg);
}

.normal__button {
    padding-top: 56px;
    text-align: center;
}

.normal__button input {
    width: 130px;
    height: 50px;
    border: 4px solid white;
    border-radius: 28px;
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
    letter-spacing: 0.3rem;
    font-weight: bold;
}

.normal__button input:active {
    position: relative;
    top: 1px;
}

.normal__imagem--doisDados {
    display: flex;
    justify-content: space-around;
    height: 140px;
    padding: 0 20px;
}

.normal__doisDados {
    width: 100px;
    height: 100px;
    transform: rotate(3deg);
}

.normal__doisDados--segundoDado {
    align-self:flex-end
}

.escondido {
    display: none
}

